@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

#id1{
    font-family: 'Nunito Sans', sans-serif;
    
}
.nav{
    height: 47px;
    max-width:100%;
    background-color: gray;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
li {
    float: left;
  }
  
li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}  
li a:hover:not(.active) {
    background-color: #111;
  }  
.active {
    background-color: #04AA6D;  
}
#id2{
    float:right;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: -1%;
}
.homesec{
    height: 200px;
    width: 100%;
    background-color:steelblue;
}
#sec{
    font-family: 'Nunito Sans', sans-serif;
    text-align: right;
    color:white;
}
.aboutsec{
    height: 200px;
    width: 100%;
    background-color:teal;
    margin-top: -2%;
}
.newssec{
    height: 200px;
    width: 100%;
    background-color:limegreen;
    margin-top: -2%;
}
.cntsec{
    height: 300px;
    width: 100%;
    background-color:grey;
    margin-top: -2%;
}
.cntdetails{
    width:20%;
    height: 100%;
}
input[type=email]{
    width:90%;
    padding: 12px 20px;
    display:inline-block;
    margin:8px;
    border:1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 90%;
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.contactform{
    height: 500px;
    width:30%;
    display: block;
    margin-top: -300px;
    margin-left: 35%;

}
input[type=message]{
    width: 80%;
    padding: 10px 20px;
    margin: 2px;

}
input[type=text]{
    width: 90%;
    padding: 10px 20px;
    margin: 2px;
    height: 40px;
    border:none;
    box-sizing: border-box;
    display: inline-block;
}
.opening{
    height: 300px;
    width: 20%;
    margin-top: -30%;
    margin-left: 80%;

}
.fa-facebook{
    background:cornflowerblue ;
    color: cornsilk;
}
.fa-twitter{
    background: currentColor;
    color: darkgray;
}


